/* .show {
  display: block;
  transition: 800ms;
  opacity: 1;
  z-index: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotate(180deg);
  opacity: 0;
  z-index: 7;
} */


.popup {
  display: none;
  position: fixed;
  z-index: -6;
  background-color: burlywood;
}

.active.popup {
  display: block;
  z-index: 0;
  left: 40%;

}